@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  /* @apply bg-transparent; */
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  /* @apply rounded-rounded bg-grey-30; */
  background-color: #d1d5db;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  /* @apply bg-grey-40; */
  background-color: #9ca3af;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
